
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productSection {
  width: 100%;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallSection {
  width: 100%;
  height:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchComponent {
  height: 80px;
  background-color: #5995da;
}

.header {
  background-color: #b2d6ff;
  height: auto;
  justify-content: inherit;
  align-items: inherit;
}

.photo img {
  max-width: 150px;
  display: block;
}

.body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f7fb;
}

.row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

.rowOffer {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: space-around;
}

.rowOffer img {
  width:100%;
  display: block;
}

.rowOfferSpaceBtwn {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: space-between;
}
.rowOfferLeft {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: start;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.simpleFlex {
  display: flex;
}

#offerFormBtnAddToCart {
  background-color: #474747;
  border: 1px solid;
  border-radius: 8px;
  color: white;
  padding: 10px;
}

#coverageFormBtnFileAClaim {
  background-color: #5033b6;
  border: 1px solid;
  border-radius: 8px;
  color: white;
  padding: 10px;
}

#switchComponent {
  background-color: #5033b6;
  border: 1px solid;
  border-radius: 8px;
  color: white;
  padding: 10px;
}

#coverageFormBtnCancelWarranty {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  color: black;
  padding: 10px;
}

.productContainer {
  background-color: white;
}

.darkPLtr {
  color: #5033b6;
  font: bolder;
  font-weight: bolder;
}

.labelPrplBackground {
  background-color: #e6e0ff;
  margin: 2.5px;
  padding: 10px;
}

.labelBackground {
  margin: 2.5px;
  padding: 10px;
}

.bold {
  font-weight: bolder;
  font-size: 15px;
}

.justBold {
  font-weight: 600;
}
.underLine {
  font-weight: lighter;
  text-decoration: underline;
  color: black;
}
.justUnderLine {
  font-weight: normal;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.line-through {
  font-weight: lighter;
  text-decoration-line: line-through;
  color: black;
  margin: 5px;
}
.smallerText {
  color: #7d7e7e;
  font-size: 12px;
}

.productPrice {
  font-weight: lighter;
  color: black;
  margin: 5px;
}

.productName {
  font-weight: lighter;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.welcome {
  font-size: 30px;
}

.vSymbol {
  padding-left: 30px;
  padding-right: 30px;
  /* padding-top: 20px; */
  font-size: 25px;
  cursor: pointer;
}

.green {
  color: #33a507;
  padding-right: 5px;
}

.hddn {
  visibility: collapse;
  height: 0;
}

.visibl {
  visibility: visible;
}

#WarForm {
  
}



/** Mobile */
@media only screen and (max-width: 400px){
  
  
  #coverageFormBtnCancelWarranty{
    border: 0px ;
    border-radius: 0px;
  }
  #coverageFormBtnFileAClaim{
    border: 0px ;
    border-radius: 0px;
  }
  #switchComponent{
    border: 0px ;
    border-radius: 0px;
  }

  #offerFormBtnAddToCart {
    border: 0px;
    border-radius: 0px;
  }
  .labelPrplBackground{
    margin: 0px;
  }
}

/** Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
  
}

/** Desktop */
@media only screen and (min-width: 961px){
  
  #WarForm {
   width: 800px;
   margin: auto;
  }

  .productSection {
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}