.body{
    height: 100%;
    font-family: sans-serif;
    margin:0;
    padding: 0;
    background-color: #F6F7FB;
}
#app{
    margin: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-basis:100%;
    flex:1;

}

.rowOffer{
    display: flex;
    flex-direction: row;
    flex-basis:100%;
    flex:1;
    justify-content: space-around;

}

.rowOfferSpaceBtwn{
    display: flex;
    flex-direction: row;
    flex-basis:100%;
    flex:1;
    justify-content: space-between;
}
.rowOfferLeft{
    display: flex;
    flex-direction: row;
    flex-basis:100%;
    flex:1;
    justify-content: start;
}

.column{
    display: flex;
    flex-direction: column;
    width:100%;
    flex-wrap:wrap;
}

.simpleFlex{
    display: flex;
}

#offerForm1{
    /* display: flex; */
    /* justify-content: space-around; */

    /* align-items: center; */
    /* flex:1; */
}



#offerFormBtnAddToCart{
    background-color: #474747;
    border: 1px solid;
    border-radius: 8px;
    color:white;
    padding: 10px;

}

#coverageFormBtnFileAClaim{
    background-color: #5033B6;
    border: 1px solid;
    border-radius: 8px;
    color:white;
    padding: 10px;

}

#switchComponent{
    background-color: #5033B6;
    border: 1px solid;
    border-radius: 8px;
    color:white;
    padding: 10px;
}

#coverageFormBtnCancelWarranty{
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    color:black;
    padding: 10px;

}

.productContainer{
    background-color: white;
    margin: 10px;
}

.darkPLtr{
 color:#5033B6 ;
 font: bolder;
 font-weight: bolder;

}

.labelPrplBackground{
    background-color: #E6E0FF;
    margin: 2.5px;
    padding: 10px;
}

.labelBackground{
    margin: 2.5px;
    padding: 10px;
}

.bold{
    font-weight: bolder;
    font-size: 15px;
}

.justBold{
    font-weight: 600;
}
.underLine{
    font-weight: lighter;
    text-decoration: underline;
    color:black;

}
.justUnderLine{
    font-weight: normal;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.line-through{
    font-weight: lighter;
    text-decoration-line: line-through;
    color:black;
    margin:5px;

}
.smallerText{
    color:#7D7E7E;
    font-size: 12px;
}

.productPrice{
    font-weight: lighter;
    color:black;
    margin:5px;
}

.productName{
    font-weight: lighter;
    color:black;
    font-size:20px;
    cursor: pointer;
}

.welcome{
    font-size: 30px;
}

.vSymbol{
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 20px; */
    font-size: 25px;
    cursor: pointer;
}

.green{
    color: #33A507;
    padding-right: 5px ;
}

.hddn{
    visibility:collapse;
    height: 0;
}

.visibl{
    visibility:visible;
}
